<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style/stylesheet.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Rozha+One&display=swap"
      rel="stylesheet"
    />
    <title>New Match</title>
  </head>
  <body>
    {{> header }}
    <main>
      <h1>You have a new match!</h1>

      <div class="newMatch">
        <h2 class="gridItemOne">Allison</h2>

        <section class="gridItemTwo">
          <img
            id="newmatchpicture"
            src="images/profilepic1.jpg"
            alt="profilepic1"
          />
        </section>

        <section class="gridItemThree">
          <h3>Favorite Books</h3>
          <ol>
            <li>Book Name1</li>
            <li>Book Name2</li>
            <li>Book Name3</li>
          </ol>
        </section>

        <section class="gridItemFour">
          <h3>Currently Reading</h3>
          <ul>
            <li>Book Name4</li>
          </ul>
          <button type="button" class="starttalkingbutton">
            Start Talking!
          </button>
        </section>
      </div>
    </main>

    {{> footer }}
  </body>
</html>
